db.sqlite3
*.pyc
.idea/
.idea/**
.vscode/
.venv/
venv/
env/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/.idea
/.idea/**
.ipynb_checkpoints/
workspace.xml
exepcion_send.text
*#
*/__pychache__/
.history/*